In [181]:
import pandas as pd
import json
import csv
import numpy as np
import psycopg2
import ast
from sqlalchemy import create_engine, text

In [182]:
pd.set_option('display.max_columns', None)
property_df = pd.read_csv('detailed_compounds_data.csv')
property_df.head()

,propertyID,propertyName,propertyTypeID,propertyTypeName,compoundID,areaID,develperID,finishing,min_unit_area,max_unit_area,min_price,max_price,max_installment_years,min_installments,min_down_payment,number_of_bathrooms,number_of_bedrooms,min_ready_by,sponsored,new_property,company,resale,financing,type,has_offers,offer_title,limited_time_offer,in_quick_search,recommended,manual_ranking,completeness_score,ranking_type,recommended_financing,property_ranking,compound_ranking,tags
0,35502,Millennial L Park middle for sale in Mountain ...,21,Apartment,195,2,6,not_finished,135.0,135.0,7584822.0,7584822.0,9.0,63206,758482,3.0,3.0,2027-01-01,0,False,NaN,False,False,NaN,False,"5% Down Payment , instalments up to 9 years",False,2,NaN,NaN,1,fast_moving,14842.0,1.0,9.0,[]
1,35495,Millennial A Park middle for sale in Mountain ...,21,Apartment,195,2,6,not_finished,135.0,135.0,8015714.0,8015714.0,9.0,66797,801571,3.0,3.0,2027-01-01,0,False,NaN,False,False,NaN,False,"5% Down Payment , instalments up to 9 years",False,2,NaN,NaN,1,fast_moving,14842.0,4.0,9.0,[]
2,35497,Millennial L Park corner for sale in Mountain ...,21,Apartment,195,2,6,not_finished,145.0,145.0,8219763.0,8219763.0,9.0,68497,821976,3.0,3.0,2027-01-01,0,False,NaN,False,False,NaN,False,"5% Down Payment , instalments up to 9 years",False,2,NaN,NaN,1,fast_moving,14842.0,2.0,9.0,[]
3,35490,Millennial A Park corner for sale in Mountain ...,21,Apartment,195,2,6,not_finished,130.0,130.0,8505952.0,8505952.0,9.0,70882,850595,3.0,3.0,2027-01-01,0,False,NaN,False,False,NaN,False,"5% Down Payment , instalments up to 9 years",False,2,NaN,NaN,1,fast_moving,14842.0,7.0,9.0,[]
4,35487,IVilla Park middle for sale in Mountain View I...,3,Duplex,195,2,6,not_finished,270.0,270.0,13776405.0,13776405.0,9.0,114803,1377640,3.0,3.0,2027-01-01,0,False,NaN,False,False,NaN,False,"5% Down Payment , instalments up to 9 years",False,2,NaN,NaN,1,fast_moving,14842.0,3.0,9.0,[]

In [183]:
property_table = property_df[['propertyID','propertyName', 'propertyTypeID',
                              'compoundID', 'areaID', 'develperID', 'finishing',
                              'max_unit_area', 'min_price', 'max_price', 'max_installment_years',
                              'min_installments', 'min_down_payment', 'number_of_bathrooms',
                                'number_of_bedrooms', 'min_ready_by', 'sponsored',
                                'new_property', 'resale', 'financing',
                                 'has_offers', 'offer_title', 'limited_time_offer',
                                'in_quick_search', 'manual_ranking', 'completeness_score',
                                'ranking_type', 'recommended_financing', 'property_ranking',
                                'compound_ranking', 'tags']]

In [184]:
# connnect to db 
# Replace these with your database details
dbname = "nawy"
user = "nady"
password = "admin"
host = "172.20.0.3"
port = "5432"


# Establish a connection to the database
try:
    connection = psycopg2.connect(
        dbname=dbname,
        user=user,
        password=password,
        host=host,
        port=port
    )

except psycopg2.Error as e:
    print("Error connecting to the database:", e)
    exit()


# Create SQLalchemy engine
engine = create_engine(f"postgresql://{user}:{password}@{host}:{port}/{dbname}")

In [185]:
column_mapping = {
    'compoundID': 'compound_id',
    'develperID':'developer_id',
    'max_unit_area':'unit_area',
    'tags':'tag'}
property_table.rename(columns=column_mapping, inplace=True)

/tmp/ipykernel_6001/4030140588.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  property_table.rename(columns=column_mapping, inplace=True)

In [186]:
#check df has the same db tables column name
columns = sorted(property_table.columns) 
# Query to retrieve column names
with engine.connect() as connection:
    query = text("SELECT column_name FROM information_schema.columns WHERE table_name = 'property' ORDER BY column_name ASC;")
    results = connection.execute(query)

    # Fetch the results
    column_names = results.fetchall()

# Display the column names
for row, column_name in enumerate(column_names):
    results = column_name[0] == columns[row]
    if results == True:
        pass
    else:
        print(f"{column_name[0]} vs {columns[row]}")

In [187]:
# casting diff data types
#property_table['financing'] = property_table['financing'].astype(bool)

# Convert 'min_ready_by' column to datetime
property_table['min_ready_by'] = pd.to_datetime(property_table['min_ready_by'], errors='coerce')

# Convert 'number_of_bathrooms' and 'number_of_bedrooms' columns to integers, handling errors
property_table['number_of_bathrooms'] = pd.to_numeric(property_table['number_of_bathrooms'], errors='coerce').astype('Int64')
property_table['number_of_bedrooms'] = pd.to_numeric(property_table['number_of_bedrooms'], errors='coerce').astype('Int64')

/tmp/ipykernel_6001/2044599106.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  property_table['min_ready_by'] = pd.to_datetime(property_table['min_ready_by'], errors='coerce')
/tmp/ipykernel_6001/2044599106.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  property_table['number_of_bathrooms'] = pd.to_numeric(property_table['number_of_bathrooms'], errors='coerce').astype('Int64')
/tmp/ipykernel_6001/2044599106.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  property_table['number_of_bedrooms'] = pd.to_numeric(property_table['number_of_bedrooms'], errors='coerce').astype('Int64')

In [188]:
## handling tag column
#property_table.ilco[0,'tag']
property_table['tag'] = property_table['tag'].apply(lambda x: ast.literal_eval(x)[0] if ast.literal_eval(x) else '')

/tmp/ipykernel_6001/265542195.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  property_table['tag'] = property_table['tag'].apply(lambda x: ast.literal_eval(x)[0] if ast.literal_eval(x) else '')

In [189]:
## match column datatypes in db table with column datatypes in df table
column_types = property_table.dtypes.sort_index()
column_types
with engine.connect() as connection:
    query = text(
        f"select column_name, data_type from information_schema.columns where table_name='property' ORDER BY column_name"
    )
    # Excute the query
    results = connection.execute(query)

    #fetch the result
    column_info = results.fetchall()
for row, column_ in enumerate(column_info):
    results = column_[0] == columns[row]
    if results == True:
        print(f"{column_[0]:<30} --> {column_[1]:<20}, :: {column_types[row]}")
    else:
        print(f"{column_name[0]} vs {columns[row]}")

areaID                         --> integer             , :: int64
completeness_score             --> integer             , :: int64
compound_id                    --> integer             , :: int64
compound_ranking               --> double precision    , :: float64
developer_id                   --> integer             , :: int64
financing                      --> boolean             , :: bool
finishing                      --> character varying   , :: object
has_offers                     --> boolean             , :: bool
in_quick_search                --> integer             , :: int64
limited_time_offer             --> boolean             , :: bool
manual_ranking                 --> double precision    , :: float64
max_installment_years          --> double precision    , :: float64
max_price                      --> numeric             , :: float64
min_down_payment               --> numeric             , :: int64
min_installments               --> integer             , :: int64
min_price                      --> numeric             , :: float64
min_ready_by                   --> date                , :: datetime64[ns]
new_property                   --> boolean             , :: bool
number_of_bathrooms            --> integer             , :: Int64
number_of_bedrooms             --> integer             , :: Int64
offer_title                    --> character varying   , :: object
propertyID                     --> integer             , :: int64
propertyName                   --> character varying   , :: object
propertyTypeID                 --> integer             , :: int64
property_ranking               --> double precision    , :: float64
ranking_type                   --> character varying   , :: object
recommended_financing          --> double precision    , :: float64
resale                         --> boolean             , :: bool
sponsored                      --> integer             , :: int64
tag                            --> character varying   , :: object
unit_area                      --> double precision    , :: float64

/tmp/ipykernel_6001/2682882931.py:16: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(f"{column_[0]:<30} --> {column_[1]:<20}, :: {column_types[row]}")

In [190]:
### drop duplicate properties
property_table = property_table.drop_duplicates(subset='propertyID', keep='first')

# I have drop all proberty with compound which not refrence any compound in compound table
# I have to left megre the two tbale here before inserting to find missed compounIds
property_table = property_table[~property_table['compound_id'].isin([337, 822, 663, 717, 199, 654, 260])]

In [191]:
# insert data to database
property_table.to_sql('property', engine, if_exists='append', index=False)

770

## load data to property_type table

In [192]:
pd.set_option('display.max_columns', None)
property_df = pd.read_csv('detailed_compounds_data.csv')
property_df.head()

,propertyID,propertyName,propertyTypeID,propertyTypeName,compoundID,areaID,develperID,finishing,min_unit_area,max_unit_area,min_price,max_price,max_installment_years,min_installments,min_down_payment,number_of_bathrooms,number_of_bedrooms,min_ready_by,sponsored,new_property,company,resale,financing,type,has_offers,offer_title,limited_time_offer,in_quick_search,recommended,manual_ranking,completeness_score,ranking_type,recommended_financing,property_ranking,compound_ranking,tags
0,35502,Millennial L Park middle for sale in Mountain ...,21,Apartment,195,2,6,not_finished,135.0,135.0,7584822.0,7584822.0,9.0,63206,758482,3.0,3.0,2027-01-01,0,False,NaN,False,False,NaN,False,"5% Down Payment , instalments up to 9 years",False,2,NaN,NaN,1,fast_moving,14842.0,1.0,9.0,[]
1,35495,Millennial A Park middle for sale in Mountain ...,21,Apartment,195,2,6,not_finished,135.0,135.0,8015714.0,8015714.0,9.0,66797,801571,3.0,3.0,2027-01-01,0,False,NaN,False,False,NaN,False,"5% Down Payment , instalments up to 9 years",False,2,NaN,NaN,1,fast_moving,14842.0,4.0,9.0,[]
2,35497,Millennial L Park corner for sale in Mountain ...,21,Apartment,195,2,6,not_finished,145.0,145.0,8219763.0,8219763.0,9.0,68497,821976,3.0,3.0,2027-01-01,0,False,NaN,False,False,NaN,False,"5% Down Payment , instalments up to 9 years",False,2,NaN,NaN,1,fast_moving,14842.0,2.0,9.0,[]
3,35490,Millennial A Park corner for sale in Mountain ...,21,Apartment,195,2,6,not_finished,130.0,130.0,8505952.0,8505952.0,9.0,70882,850595,3.0,3.0,2027-01-01,0,False,NaN,False,False,NaN,False,"5% Down Payment , instalments up to 9 years",False,2,NaN,NaN,1,fast_moving,14842.0,7.0,9.0,[]
4,35487,IVilla Park middle for sale in Mountain View I...,3,Duplex,195,2,6,not_finished,270.0,270.0,13776405.0,13776405.0,9.0,114803,1377640,3.0,3.0,2027-01-01,0,False,NaN,False,False,NaN,False,"5% Down Payment , instalments up to 9 years",False,2,NaN,NaN,1,fast_moving,14842.0,3.0,9.0,[]

In [195]:
property_type = property_df[['propertyTypeID', 'propertyTypeName', 'propertyID']]
property_type.head()

   propertyTypeID propertyTypeName  propertyID
0              21        Apartment       35502
1              21        Apartment       35495
2              21        Apartment       35497
3              21        Apartment       35490
4               3           Duplex       35487

In [204]:
## retrieve all propertyIDs in property_atable
# Query to retrieve column names
with engine.connect() as connection:
    query = text("""SELECT "propertyID" from property;""")
    results = connection.execute(query)
    # Fetch and print the propertyID values
    property_ids = [row[0] for row in results.fetchall()]
print(property_ids)

[380, 382, 397, 398, 399, 403, 547, 548, 549, 551, 958, 1121, 1246, 1350, 1351, 1352, 1619, 1620, 1621, 1625, 1626, 1627, 1628, 1942, 1955, 1963, 2075, 2076, 2112, 2113, 2115, 2118, 2119, 2120, 2131, 2132, 2191, 2192, 2193, 2194, 2195, 2198, 2250, 2251, 2385, 2386, 2387, 2478, 2480, 2721, 2774, 2840, 2842, 2916, 3121, 3245, 3324, 3327, 3333, 3334, 3338, 3462, 3517, 3643, 3671, 3721, 3722, 3724, 3725, 3813, 3858, 3867, 3870, 4026, 4031, 4062, 4066, 4095, 4096, 4097, 4098, 4099, 4102, 4103, 4104, 4105, 4106, 4107, 4109, 4127, 4128, 4131, 4132, 4140, 4141, 4142, 4144, 4146, 4147, 4148, 4151, 4153, 4156, 4158, 4159, 4172, 4299, 4300, 4307, 4308, 4309, 4312, 4320, 4322, 4324, 4325, 4326, 4327, 4357, 4372, 4375, 4385, 4386, 4387, 4388, 4389, 4390, 4391, 4461, 4463, 4467, 4545, 4590, 4663, 4664, 4668, 4686, 4687, 4700, 4753, 4763, 4765, 5543, 5544, 5564, 5565, 5683, 5710, 5810, 5880, 5907, 5958, 5959, 5962, 5964, 5965, 5966, 5969, 5971, 5972, 5974, 5997, 6232, 6307, 6695, 6730, 6758, 7037, 7038, 7039, 7158, 7239, 7313, 7381, 7387, 7447, 7495, 7618, 7801, 7835, 7836, 7848, 7860, 7861, 7940, 7941, 7942, 7943, 7944, 7945, 7947, 7948, 7949, 7950, 7951, 7952, 8021, 8115, 8145, 8335, 8336, 8337, 8395, 8434, 8997, 9055, 9058, 9068, 9092, 9093, 9095, 9096, 9097, 9098, 9100, 9103, 9171, 9186, 9196, 9197, 9198, 9199, 9200, 9225, 9226, 9421, 9445, 9453, 9544, 9806, 9841, 10205, 10310, 10500, 11341, 11577, 11603, 11609, 11790, 11809, 11825, 11826, 11851, 11961, 12020, 12034, 12054, 12157, 12159, 12197, 12200, 12201, 12311, 12415, 12546, 12574, 12601, 12652, 12678, 12736, 12752, 12762, 12780, 12784, 12838, 12854, 12886, 12895, 12908, 12953, 12955, 13001, 13017, 13027, 13095, 13096, 13134, 13447, 13525, 13632, 13772, 13975, 14112, 14188, 14301, 14367, 14412, 14519, 14527, 14657, 14658, 14677, 14696, 14786, 14839, 14840, 14903, 14929, 14930, 15005, 15113, 15204, 15364, 15391, 15418, 15422, 15669, 15674, 15730, 15731, 15733, 15736, 15759, 15775, 15783, 15802, 15816, 15824, 15939, 16056, 16117, 16126, 16177, 16183, 16290, 16304, 16323, 16328, 16367, 16368, 16371, 16374, 16379, 16380, 16384, 16464, 16493, 16499, 16500, 16504, 16510, 16583, 16584, 16585, 16586, 16588, 16603, 16686, 16693, 16839, 16845, 16856, 16879, 16907, 16977, 17210, 17211, 17212, 17239, 17296, 17299, 17301, 17310, 17311, 17312, 17313, 17327, 17329, 17519, 17522, 17533, 17582, 17641, 17643, 17645, 17687, 17689, 17690, 17691, 17752, 17809, 18005, 18159, 18160, 18173, 18174, 18535, 18540, 18547, 18559, 19076, 19079, 19081, 19084, 19085, 19086, 19178, 19251, 19252, 19292, 19540, 19568, 19633, 19641, 19675, 19685, 19689, 19691, 19694, 19712, 19716, 19720, 19788, 19930, 19942, 19947, 19948, 19957, 19960, 19966, 19978, 19981, 20045, 20050, 20120, 20137, 20139, 20161, 20166, 20168, 20221, 20222, 20225, 20226, 20227, 20229, 20230, 20235, 20238, 20243, 20246, 20294, 20306, 20383, 20386, 20401, 20421, 20475, 20485, 20515, 20520, 20521, 20529, 20530, 20531, 20556, 21274, 21289, 21290, 21291, 21292, 21293, 21294, 21300, 21301, 21303, 21304, 21305, 21474, 21516, 21626, 21628, 21630, 21781, 21797, 21799, 21852, 22158, 22160, 22162, 22634, 22635, 22637, 22638, 22676, 22740, 22741, 22896, 22897, 22912, 22982, 23075, 23123, 23127, 23163, 23223, 23224, 23225, 23292, 23315, 23517, 23518, 23521, 23525, 23526, 23564, 24204, 24216, 24379, 24381, 24384, 24385, 24386, 24946, 24947, 24948, 25021, 25084, 25085, 25097, 25118, 25146, 25148, 25534, 25727, 25799, 25819, 25893, 25997, 26200, 26227, 26240, 26340, 26372, 26373, 26378, 26386, 26387, 26430, 26436, 26437, 26438, 26439, 26443, 26456, 26468, 26488, 26491, 26492, 26493, 26494, 26717, 26772, 26789, 26806, 26833, 26856, 26861, 27055, 27204, 27210, 27243, 27259, 27260, 27294, 27295, 27297, 27300, 27301, 27330, 27331, 27337, 27341, 27354, 27362, 27412, 27413, 27418, 27421, 27492, 27493, 27524, 27584, 27626, 27655, 27709, 27712, 27718, 27732, 27737, 27740, 27741, 27821, 27822, 27823, 27824, 27855, 27881, 27904, 27909, 27976, 27977, 28006, 28007, 28019, 28044, 28080, 28082, 28084, 28092, 28097, 28100, 28101, 28107, 28130, 28139, 28141, 28149, 28152, 28162, 28171, 28198, 28200, 28207, 28234, 28236, 28240, 28349, 28351, 28352, 28353, 28354, 28355, 28357, 28360, 28365, 28496, 28499, 28503, 28504, 28505, 28506, 28508, 28510, 28515, 28516, 28517, 28519, 28520, 28523, 28565, 28607, 28610, 28632, 28665, 28682, 28711, 28712, 28722, 28769, 28770, 28775, 28802, 28806, 28816, 28853, 28908, 28911, 28923, 28930, 28940, 28941, 28943, 29025, 29030, 29032, 29041, 29042, 29051, 29053, 29054, 29055, 29056, 29068, 29069, 29070, 29071, 29103, 29104, 29105, 29117, 29118, 29120, 29122, 29144, 29146, 29176, 29178, 29179, 29216, 29217, 29242, 29281, 29285, 29301, 29307, 29348, 29388, 29448, 29466, 29467, 29481, 29522, 29551, 29553, 29554, 29555, 29556, 29557, 29633, 29641, 29779, 29799, 29812, 29813, 29817, 29888, 29908, 29909, 29910, 29912, 29913, 29965, 29966, 30000, 30005, 30007, 30019, 30024, 30029, 30030, 30032, 30159, 30160, 30161, 30174, 30175, 30220, 30221, 30224, 30228, 30237, 30246, 30291, 30302, 30305, 30306, 30307, 30357, 30360, 30361, 30382, 30473, 30518, 30540, 30541, 30542, 30543, 30564, 30566, 30567, 30569, 30571, 30660, 30665, 30667, 30711, 30714, 30715, 30716, 30738, 30741, 30742, 30744, 30757, 30758, 30759, 30781, 30808, 30809, 30814, 30818, 30850, 30852, 30871, 30873, 30874, 30882, 30886, 31022, 31028, 31031, 31061, 31098, 31101, 31102, 31111, 31131, 31153, 31238, 31239, 31240, 31347, 31354, 31365, 31370, 31409, 31419, 31420, 31430, 31497, 31587, 31667, 31704, 31705, 31711, 31727, 31767, 31794, 31822, 31847, 31903, 31904, 31910, 31911, 31912, 31913, 31914, 31920, 31922, 31925, 32018, 32023, 32025, 32098, 32099, 32100, 32101, 32103, 32106, 32107, 32115, 32185, 32187, 32238, 32309, 32324, 32330, 32331, 32332, 32333, 32362, 32365, 32366, 32367, 32368, 32370, 32372, 32374, 32375, 32376, 32377, 32388, 32389, 32390, 32391, 32392, 32396, 32398, 32399, 32420, 32440, 32441, 32442, 32444, 32445, 32467, 32508, 32509, 32529, 32533, 32534, 32536, 32542, 32568, 32598, 32605, 32638, 32640, 32666, 32727, 32730, 32731, 32732, 32739, 32752, 32790, 32791, 32796, 32797, 32804, 32806, 32809, 32810, 32815, 32821, 32846, 32847, 32848, 32866, 32867, 32873, 32874, 32878, 32887, 32917, 32918, 32920, 32932, 33046, 33081, 33082, 33094, 33102, 33116, 33119, 33120, 33157, 33158, 33159, 33161, 33162, 33186, 33188, 33235, 33273, 33334, 33337, 33415, 33445, 33454, 33462, 33517, 33525, 33529, 33530, 33551, 33555, 33556, 33562, 33563, 33568, 33583, 33584, 33585, 33640, 33641, 33642, 33656, 33657, 33658, 33659, 33660, 33662, 33663, 33716, 33753, 33777, 33794, 33823, 33831, 33834, 33844, 33859, 33860, 33863, 33870, 33883, 33884, 33891, 33895, 33932, 33946, 33947, 33948, 33957, 34004, 34006, 34008, 34010, 34020, 34021, 34023, 34027, 34029, 34032, 34098, 34099, 34101, 34102, 34103, 34104, 34105, 34106, 34111, 34117, 34119, 34197, 34198, 34217, 34222, 34235, 34241, 34256, 34257, 34262, 34268, 34269, 34270, 34272, 34275, 34277, 34278, 34281, 34285, 34287, 34289, 34290, 34294, 34298, 34299, 34352, 34353, 34354, 34375, 34383, 34384, 34385, 34386, 34387, 34388, 34389, 34390, 34391, 34392, 34395, 34396, 34419, 34426, 34431, 34435, 34436, 34503, 34504, 34505, 34510, 34511, 34514, 34516, 34517, 34519, 34561, 34564, 34565, 34566, 34571, 34575, 34576, 34579, 34590, 34624, 34625, 34626, 34648, 34650, 34664, 34672, 34675, 34679, 34680, 34689, 34698, 34701, 34702, 34703, 34704, 34705, 34706, 34707, 34709, 34710, 34711, 34713, 34714, 34716, 34719, 34720, 34721, 34779, 34819, 34821, 34835, 34836, 34837, 34839, 34840, 34841, 34842, 34848, 34849, 34850, 34871, 34879, 34880, 34881, 34882, 34883, 34884, 34896, 34898, 34900, 34902, 34910, 34912, 34942, 34947, 34961, 34966, 34972, 34998, 35001, 35002, 35023, 35033, 35043, 35045, 35047, 35049, 35057, 35059, 35060, 35061, 35062, 35063, 35064, 35065, 35069, 35071, 35073, 35080, 35082, 35084, 35091, 35092, 35093, 35099, 35101, 35103, 35116, 35117, 35119, 35153, 35155, 35156, 35167, 35171, 35177, 35181, 35229, 35231, 35236, 35240, 35254, 35275, 35289, 35292, 35293, 35294, 35296, 35299, 35300, 35301, 35306, 35309, 35315, 35324, 35334, 35344, 35346, 35347, 35348, 35349, 35350, 35351, 35352, 35375, 35376, 35378, 35379, 35381, 35382, 35383, 35398, 35401, 35411, 35451, 35466, 35467, 35471, 35472, 35473, 35477, 35486, 35487, 35489, 35490, 35495, 35497, 35502, 35508, 35509, 35527, 35530, 35534, 35553, 35556, 35559, 35560, 35561, 35562, 35563, 35575, 35640, 35642, 35658, 35699, 35703, 35710, 35711, 35714, 35719, 35726, 35728, 35731, 35732, 35738, 35743, 35746, 35776, 35781, 35785, 35788, 35796, 35797, 35798, 35800, 35808, 35809, 35810, 35812, 35815, 35840, 35842, 35843, 35845, 35876, 35879, 35883, 35928, 35929, 35930, 35931, 35934, 35943, 35944, 35962, 35966, 35999, 36010, 36095, 36099, 36104, 36108, 36111, 36112, 36123, 36125, 36146, 36150, 36152, 36154, 36155, 36161, 36174, 36175, 36176, 36177, 36179, 36180, 36181, 36182, 36199, 36200, 36203, 36210, 36212, 36217, 36218, 36223, 36231, 36232, 36233, 36234, 36235, 36236, 36242, 36250, 36280, 36283, 36284, 36365, 36379, 36380, 36381, 36387, 36388, 36389, 36390, 36393, 36394, 36398, 36404, 36407, 36408, 36409, 36411, 36412, 36414, 36415, 36418, 36419, 36421, 36440, 36459, 36463, 36480, 36550, 36551, 36577, 36597, 36605, 36627, 36630, 36631, 36635, 36636, 36643, 36649, 36654, 36655, 36666, 36668, 36674, 36675, 36680, 36683, 36684, 36696, 36732, 36733, 36734, 36735, 36736, 36738, 36740, 36741, 36742, 36755, 36770, 36775, 36787, 36790, 36793, 36796, 36806, 36808, 36814, 36817, 36823, 36824, 36825, 36827, 36831, 36833, 36835, 36836, 36839, 36840, 36842, 36859, 36871, 36893, 36894, 36895, 36896, 36898, 36899, 36900, 36905, 36916, 36928, 36931, 36932, 36937, 36939, 36940, 36943, 36945, 36948, 36952, 36953, 36960, 36977, 36991, 36996, 36997, 36998, 37036, 37044, 37046, 37047, 37056, 37062, 37069, 37078, 37081, 37096, 37101, 37102, 37111, 37131, 37133, 37134, 37148, 37149, 37167, 37186, 37193, 37195, 37201, 37213, 37215, 37219, 37220, 37221, 37233, 37235, 37239, 37240, 37244, 37245, 37281, 37282, 37293, 37298, 37306, 37308, 37310, 37332, 37333, 37339, 37349, 37354, 37355, 37356, 37384, 37399, 37423, 37428, 37434, 37437, 37450, 37460, 37472, 37474, 37475, 37476, 37479, 37480, 37481, 37482, 37500, 37502, 37503, 37506, 37507, 37512, 37517, 37519, 37520, 37526, 37541, 37543, 37544, 37548, 37552, 37553, 37556, 37571, 37572, 37574, 37575, 37579, 37581, 37582, 37585, 37586, 37587, 37588, 37589, 37597, 37598, 37599, 37600, 37601, 37605, 37617, 37619, 37631, 37638, 37642, 37661, 37663, 37666, 37668, 37670, 37671, 37716, 37717, 37721, 37722, 37724, 37734, 37740, 37743, 37745, 37748, 37752, 37766, 37774, 37780, 37782, 37784, 37786, 37788, 37797, 37800, 37803, 37804, 37805, 37806, 37811, 37830, 37834, 37836, 37839, 37847, 37856, 37857, 37858, 37865, 37866, 37868, 37872, 37887, 37891, 37895, 37905, 37906, 37907, 37919, 37924, 37929, 37934, 37935, 37953, 37983, 37989, 37993, 37994, 37997, 37999, 38030, 38041, 38043, 38044, 38048, 38049, 38050, 38063, 38064, 38065, 38066, 38088, 38089, 38091, 38092, 38104, 38105, 38109, 38112, 38113, 38116, 38117, 38118, 38129, 38132, 38133, 38137, 38139, 38142, 38143, 38147, 38148, 38157, 38160, 38161, 38162, 38163, 38164, 38169, 38175, 38178, 38179, 38185, 38196, 38247, 38254, 38255, 38258, 38261, 38264, 38286, 38309, 38310, 38314, 38315, 38321, 38322, 38324, 38328, 38329, 38330, 38331, 38341, 38342, 38345, 38346, 38347, 38356, 38358, 38360, 38363, 38364, 38368, 38370, 38374, 38375, 38379, 38380, 38381, 38382, 38392, 38402, 38407, 38410, 38416, 38418, 38419, 38422, 38423, 38425, 38431, 38435, 38438, 38439, 38440, 38443, 38444, 38446, 38447, 38448, 38450, 38451, 38454, 38457, 38458, 38460, 38477, 38494, 38532, 38537, 38542, 38547, 38549, 38551, 38553, 38554, 38556, 38557, 38558, 38559, 38563, 38586, 38587, 38588, 38589, 38603, 38604, 38612, 38613, 38614, 38617, 38618, 38619, 38621, 38623, 38634, 38659, 38661, 38662, 38690, 38691, 38692, 38700, 38707, 38711, 38716, 38717, 38720, 38723, 38725, 38726, 38730, 38733, 38734, 38751, 38752, 38754, 38777, 38779, 38782, 38784, 38796, 38798, 38803, 38804, 38805, 38811, 38819, 38820, 38821, 38822, 38824, 38825, 38826, 38827, 38831, 38832, 38833, 38834, 38840, 38841, 38845, 38846, 38848, 38851, 38852, 38861, 38862, 38864, 38867, 38903, 38920, 38921, 38923, 38928, 38929, 38933, 38941, 38946, 38953, 38993, 38994, 38997, 38998, 39000, 39003, 39004, 39005, 39006, 39016, 39017, 39019, 39020, 39021, 39023, 39027, 39032, 39037, 39038, 39039, 39041, 39044, 39046, 39047, 39049, 39053, 39063, 39064, 39065, 39066, 39067, 39068, 39071, 39072, 39073, 39074, 39075, 39076, 39079, 39084, 39085, 39088, 39100, 39101, 39106, 39121, 39123, 39127, 39129, 39130, 39131, 39133, 39148, 39149, 39150, 39157, 39159, 39160, 39161, 39162, 39163, 39164, 39165, 39166, 39169, 39173, 39181, 39193, 39206, 39214, 39220, 39230, 39232, 39235, 39238, 39253, 39254, 39260, 39264, 39269, 39270, 39271, 39281, 39282, 39283, 39302, 39303, 39307, 39308, 39309, 39371, 39373, 39377, 39378, 39380, 39381, 39383, 39385, 39386, 39392, 39396, 39397, 39398, 39399, 39408, 39409, 39411, 39413, 39414, 39416, 39421, 39422, 39423, 39424, 39425, 39426, 39427, 39428, 39429, 39430, 39434, 39435, 39436, 39437, 39438, 39439, 39440, 39441, 39442, 39443, 39444, 39445, 39448, 39449, 39464, 39466, 39467, 39469, 39470, 39472, 39489, 39492, 39494, 39497, 39506, 39507, 39508, 39509, 39510, 39511, 39512, 39518, 39519, 39589, 39595, 39616, 39620, 39641, 39648, 39649, 39650, 39651, 39653, 39657, 39665, 39666, 39667, 39670, 39673, 39685, 39695, 39701, 39702, 39703, 39705, 39706, 39725, 39726, 39728, 39732, 39733, 39736, 39741, 39743, 39744, 39745, 39825, 39840, 39842, 39849, 39851, 39853, 39859, 39864, 39872, 39876, 39877, 39879, 39882, 39884, 39885, 39887, 39889, 39898, 39899, 39901, 39904, 39905, 39910, 39911, 39915, 39927, 39929, 39931, 39932, 39936, 39937, 39938, 39939, 39964, 39973, 39977, 39979, 39983, 39988, 39990, 39991, 39993, 39997, 40018, 40022, 40023, 40027, 40033, 40035, 40038, 40041, 40044, 40046, 40047, 40052, 40055, 40074, 40091, 40092, 40096, 40097, 40098, 40099, 40100, 40101, 40108, 40114, 40115, 40119, 40127, 40136, 40137, 40139, 40142, 40144, 40145, 40147, 40150, 40152, 40155, 40168, 40170, 40171, 40172, 40180, 40183, 40189, 40191, 40194, 40197, 40198, 40199, 40202, 40203, 40204, 40205, 40224, 40234, 40240, 40249, 40250, 40257, 40262, 40268, 40278, 40279, 40280, 40284, 40292, 40293, 40294, 40295, 40301, 40303, 40325, 40326, 40337, 40347, 40348, 40350, 40361, 40368, 40369, 40376, 40377, 40381, 40382, 40391, 40404, 40405, 40415, 40419, 40426, 40455, 40485, 40487, 40499, 40502, 40508, 40511, 40512, 40515, 40528, 40537, 40556, 40557, 40558, 40565, 40566, 40574, 40588, 40589, 40602, 40603, 40607, 40608, 40611, 40612, 40613, 40630, 40631, 40636, 40648, 40652, 40657, 40661, 40662, 40663, 40664, 40666, 40686, 40687, 40688, 40694, 40695, 40696, 40697, 40698, 40699, 40704, 40705, 40706, 40717, 40735, 40746, 40747, 40748, 40752, 40762, 40763, 40766, 40767, 40768, 40793, 40797, 40805, 40806, 40811, 40812, 40813, 40814, 40815, 40816, 40817, 40820, 40831, 40833, 40836, 40847, 40855, 40856, 40858, 40859, 40860, 40863, 40864, 40865, 40866, 40873, 40874, 40875, 40876, 40888, 40889, 40897, 40900, 40905, 40909, 40912, 40920, 40926, 40929, 40930, 40931, 40932, 40934, 40936, 40939, 40947, 40957, 40965, 40966, 40967, 40968, 40969, 40970, 40971, 40972, 40973, 40974, 40976, 40979, 40981, 40983, 40984, 40990, 40992, 40998, 40999, 41004, 41005, 41012, 41016, 41020, 41021, 41025, 41026, 41027, 41028, 41029, 41030, 41031, 41042, 41043, 41047, 41050, 41055, 41067, 41076, 41077, 41078, 41079, 41080, 41081, 41082, 41083, 41094, 41095, 41097, 41098, 41103, 41106, 41110, 41111, 41132, 41138, 41139, 41194, 41195, 41196, 41197, 41206, 41207, 41221, 41222, 41223, 41224, 41225, 41226, 41227, 41228, 41229, 41231, 41232, 41233, 41239, 41240, 41241, 41242, 41243, 41244, 41245, 41279, 41280, 41290, 41291, 41293, 41294, 41295, 41297, 41303, 41311, 41314, 41318, 41321, 41322, 41326, 41328, 41331, 41332, 41354, 41355, 41358, 41361, 41362, 41363, 41364, 41365, 41367, 41371, 41372, 41393, 41411, 41413, 41420, 41428, 41433, 41437, 41439, 41440, 41441, 41444, 41445, 41446, 41449, 41451, 41452, 41453, 41475, 41484, 41485, 41486, 41494, 41495, 41496, 41497, 41500, 41501, 41512, 41519, 41520, 41521, 41522, 41523, 41524, 41527, 41528, 41567, 41568, 41570, 41571, 41572, 41573, 41574, 41575, 41578, 41597, 41599, 41600, 41603, 41605, 41607, 41611, 41613, 41629, 41634, 41651, 41658, 41661, 41662, 41663, 41664, 41665, 41666, 41668, 41671, 41675, 41676, 41677, 41680, 41682, 41684, 41695, 41696, 41698, 41699, 41712, 41713, 41714, 41715, 41716, 41717, 41718, 41719, 41720, 41721, 41722, 41723, 41724, 41725, 41734, 41735, 41745, 41746, 41748, 41750, 41751, 41753, 41756, 41757, 41759, 41761, 41762, 41763, 41769, 41770, 41773, 41774, 41775, 41778, 41779, 41780, 41781, 41784, 41788, 41793, 41794, 41795, 41808, 41818, 41819, 41825, 41830, 41831, 41832, 41833, 41834, 41835, 41842, 41844, 41846, 41855, 41856, 41863, 41865, 41874, 41882, 41892, 41893, 41898, 41899, 41901, 41902, 41903, 41904, 41914, 41915, 41916, 41918, 41919, 41924, 41935, 41945, 41946, 41947, 41950, 41953, 41954, 41957, 41962, 41963, 41964, 41965, 41966, 41974, 41977, 41978, 41982, 41992, 41993, 41994, 41995, 41996, 41997, 41998, 41999, 42002, 42004, 42005, 42007, 42008, 42009, 42010, 42011, 42029, 42030, 42032, 42034, 42035, 42037, 42039, 42040, 42041, 42042, 42044, 42045, 42046, 42047, 42053, 42054, 42055, 42056, 42057, 42058, 42065, 42066, 42067, 42068, 42069, 42070, 42072, 42076, 42079, 42080, 42083, 42086, 42110, 42111, 42117, 42120, 42121, 42122, 42123, 42124, 42125, 42126, 42127, 42128, 42129, 42134, 42136, 42137, 42138, 42140, 42141, 42143, 42150, 42151, 42154, 42156, 42158, 42162, 42164, 42168, 42169, 42173, 42174, 42175, 42180, 42181, 42183, 42190, 42191, 42192, 42193, 42194, 42195, 42200, 42202, 42203, 42204, 42206, 42207, 42208, 42209, 42210, 42215, 42217, 42221, 42222, 42226, 42227, 42229, 42230, 42232, 42233, 42234, 42237, 42238, 42239, 42241, 42248, 42249, 42250, 42252, 42253, 42256, 42257, 42261, 42267, 42268, 42270, 42271, 42272, 42273, 42281, 42288, 42291, 42297, 42298, 42299, 42300, 42301, 42302, 42303, 42304, 42305, 42306, 42307, 42308, 42309, 42310, 42311, 42315, 42318, 42319, 42320, 42321, 42322, 42323, 42325, 42326, 42327, 42328, 42329, 42331, 42332, 42334, 42335, 42337, 42338, 42339, 42340, 42341, 42342, 42344, 42345, 42346, 42347, 42349, 42350, 42351, 42352, 42354, 42355, 42356, 42358, 42365, 42366, 42367, 42371, 42373, 42376, 42377, 42378, 42379, 42380, 42381, 42382, 42392, 42393, 42394, 42395, 42396, 42397, 42399, 42404, 42405, 42406, 42407, 42409, 42410, 42411, 42412, 42413, 42416, 42417, 42418, 42421, 42422, 42423, 42424, 42431, 42432, 42433, 42435, 42437, 42438, 42439, 42440, 42441, 42443, 42444, 42447, 42451, 42459, 42464, 42473, 42480, 42481, 42482, 42483, 42494, 42496, 42499, 42500, 42501, 42502, 42503, 42507, 42508, 42509, 42510, 42511, 42512, 42513, 42514, 42519, 42520, 42525, 42528, 42529, 42531, 42532, 42533, 42534, 42535, 42536, 42538, 42541, 42542, 42544]

In [208]:
property_type = property_type[property_type['propertyID'].isin(property_ids)]
property_type.columns

Index(['propertyTypeID', 'propertyTypeName', 'propertyID'], dtype='object')

In [209]:
# adjust column naming
column_mapping = {
    'propertyTypeID': 'id',
    'propertyTypeName':'name',
    'propertyID':'propertyID'}
property_type.rename(columns=column_mapping, inplace=True)

In [211]:
# check column datatypes
column_types = property_type.dtypes.sort_index()
column_types

id             int64
name          object
propertyID     int64
dtype: object

In [215]:
# insert data to database
property_type.drop_duplicates(subset=['id'], keep='first', inplace=True)
property_type.to_sql('property_type', engine, if_exists='append', index=False)

14